* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.header {
  background: #000;
  color: #fff;
  padding: 10px 0;
  <svg _ngcontent-ng-c592123650="" width="140" height="45" viewBox="0 0 140 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-ng-c592123650="" d="M24.7586 13.8292V31.5353C24.7586 32.5121 23.9649 33.3059 22.988 33.3059C22.0111 33.3059 21.2174 32.5121 21.2174 31.5353V25.7961C21.2174 24.8192 20.4237 24.0254 19.4468 24.0254H15.9056C14.9287 24.0254 14.135 24.8192 14.135 25.7961V26.5287C14.135 27.5056 13.3412 28.2993 12.3644 28.2993C11.3875 28.2993 10.5938 27.5056 10.5938 26.5287V18.1336C10.5938 17.1567 11.3875 16.363 12.3644 16.363C13.3412 16.363 14.135 17.1567 14.135 18.1336V18.7442C14.135 19.721 14.9287 20.5148 15.9056 20.5148H19.4773C20.4542 20.5148 21.2479 19.721 21.2479 18.7442V13.8292C21.2479 12.8523 22.0416 12.0586 23.0185 12.0586C23.9649 12.0891 24.7586 12.8523 24.7586 13.8292Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M21.6441 36.9385C21.1252 36.9385 20.6062 37.1827 20.3009 37.6101C18.5608 39.8692 15.7828 41.3345 12.6995 41.3345C7.47928 41.3345 3.23593 37.2133 3.23593 32.1762V12.73C3.23593 7.69298 7.50981 3.57174 12.6995 3.57174C15.8744 3.57174 18.6829 5.09812 20.423 7.41823C20.7588 7.84562 21.2473 8.12037 21.7968 8.12037H21.9799C23.3232 8.12037 24.1474 6.59398 23.3842 5.49499C21.1252 2.19799 17.2787 0 12.9132 0H12.5469C5.64762 0 0 5.46446 0 12.1195V32.512C0 39.167 5.64762 44.6315 12.5469 44.6315H12.9132C17.065 44.6315 20.7283 42.6777 23.0179 39.6555C23.8116 38.5565 23.0484 36.9385 21.6441 36.9385Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M32.9378 14.8672H37.578C39.0128 14.8672 40.356 15.3862 41.5771 16.3936C42.1877 16.9736 42.5846 17.462 42.7677 17.7978C43.3783 18.8358 43.7141 19.9043 43.7141 21.0033V31.7795C43.7141 32.268 43.4699 32.6954 42.9814 33.0617C42.7067 33.2143 42.4319 33.3059 42.1572 33.3059C41.4856 33.3059 40.9971 33.0006 40.6918 32.3596C40.5392 31.9322 40.2645 31.7185 39.8676 31.7185C39.6844 31.7185 39.3486 31.9016 38.7991 32.2374C38.3412 32.4817 37.7917 32.7259 37.1812 32.9091C36.2043 33.1838 35.3495 33.3364 34.6168 33.3364H34.3726C32.7546 33.3364 31.3198 32.7259 30.0377 31.4743C29.4882 30.8637 29.1524 30.3447 28.9692 29.9479C28.5418 29.032 28.3281 28.1467 28.3281 27.3225V27.1393C28.3281 25.5519 28.9387 24.1171 30.1598 22.8349C31.4419 21.6749 32.8462 21.0948 34.3421 21.0948H39.4402C39.8981 21.0948 40.1729 20.9727 40.295 20.759C40.3866 20.6369 40.4476 20.5148 40.4476 20.3622V20.3011C40.4171 19.9653 40.2034 19.5379 39.776 19.0495C39.3181 18.6221 38.9518 18.3473 38.6465 18.2558C38.3412 18.1031 37.7917 18.0115 37.0285 18.0115H32.9378C32.5104 18.0115 32.1441 17.8284 31.7778 17.4315C31.5641 17.1262 31.4419 16.8515 31.4419 16.5767V16.4546C31.4419 15.9357 31.6556 15.5388 32.1136 15.203C32.4188 14.9588 32.6631 14.8672 32.9378 14.8672ZM31.4419 27.2004C31.4419 28.0246 31.7778 28.7878 32.4799 29.4594C33.0904 29.9479 33.7315 30.1921 34.3116 30.1921H34.6168C35.6242 30.1921 36.6622 29.8868 37.7307 29.2457C38.9212 28.5131 39.7455 27.4141 40.2645 26.0098C40.3866 25.5824 40.4476 25.2466 40.5087 25.0024V24.9108C40.5087 24.6055 40.3255 24.3918 39.9897 24.2087C39.8981 24.2087 39.8371 24.1781 39.8065 24.1781H34.3421C33.6094 24.1781 32.9378 24.4834 32.2662 25.1245C31.7167 25.7656 31.4419 26.4677 31.4419 27.2004Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M48.6903 7.3877H48.8124C49.5146 7.3877 50.0641 7.75403 50.4914 8.45616C50.6136 8.70039 50.6746 8.97514 50.6746 9.28041V9.46358C50.6746 10.1352 50.3083 10.7152 49.5756 11.1121C49.3009 11.2342 49.0261 11.2952 48.7514 11.2952C47.9271 11.2952 47.3471 10.8984 46.9502 10.0741C46.8587 9.86044 46.8281 9.64675 46.8281 9.46358V9.31094C46.8281 8.48669 47.2555 7.90667 48.1103 7.54033C48.324 7.41822 48.5071 7.3877 48.6903 7.3877Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M48.5981 14.8672H48.8424C49.2392 14.8672 49.6361 15.0809 49.9719 15.4777C50.1551 15.783 50.2466 16.0578 50.2466 16.3325V31.8101C50.2466 32.3596 49.9414 32.8175 49.3308 33.1838C49.0866 33.2754 48.9034 33.3059 48.7813 33.3059H48.6287C48.1097 33.3059 47.7128 33.0312 47.3465 32.5122C47.1939 32.2985 47.1328 31.9322 47.1328 31.4437V16.7294C47.1328 15.9051 47.377 15.3862 47.8655 15.1114C48.1402 14.9588 48.3539 14.8672 48.5981 14.8672Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M55.4376 14.8672C55.9565 14.8672 56.3839 15.1114 56.7197 15.5693C56.9334 15.9051 57.1776 16.0578 57.4829 16.0578C57.605 16.0578 57.9103 15.9357 58.3377 15.6914C59.4672 15.1419 60.6578 14.8672 61.8484 14.8672C64.2295 14.8672 66.2749 15.783 67.9539 17.6452C68.5645 18.4389 68.9613 19.08 69.175 19.599C69.6635 20.5453 69.9077 21.797 69.9077 23.3539V31.5048C69.9077 32.2374 69.694 32.7259 69.2971 32.9701C69.0224 33.1838 68.6866 33.3059 68.3202 33.3059C67.9234 33.3059 67.5571 33.1227 67.1907 32.7869C66.916 32.5122 66.7633 32.0848 66.7633 31.4743V23.4149C66.7633 22.2549 66.6107 21.4001 66.3054 20.8506C65.7254 19.6295 64.779 18.7747 63.4663 18.2558C62.8863 18.0726 62.3368 17.981 61.8484 17.981C60.4441 17.981 59.1925 18.5305 58.1851 19.6295C57.6356 20.2706 57.2387 21.0338 57.0555 21.9191C56.9945 22.2244 56.9334 22.7433 56.9334 23.4149V31.4743C56.9334 32.2069 56.7197 32.6954 56.3229 32.9396C56.0481 33.1533 55.7428 33.2754 55.346 33.2754C54.9491 33.2754 54.5828 33.0922 54.2165 32.7564C53.9417 32.4817 53.7891 32.0543 53.7891 31.4437V16.6683C53.7891 16.0578 53.9417 15.5999 54.247 15.3251C54.6744 15.0198 55.0407 14.8672 55.4376 14.8672Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M75.0686 7.47949C75.6792 7.47949 76.1371 7.78477 76.5034 8.42585C76.5645 8.67007 76.6255 8.91429 76.6255 9.09746V13.9514C76.6255 14.4093 76.7782 14.684 77.0835 14.8061C77.2056 14.8367 77.2971 14.8672 77.4193 14.8672H82.7921C82.8227 14.8672 82.8227 14.8977 82.8227 14.9283V17.0957C82.8227 17.5231 82.67 17.7979 82.3342 17.92C82.2121 17.981 82.1205 17.981 82.0289 17.981H78.4572C77.7245 17.981 77.2361 18.1642 76.9919 18.561C76.7477 18.7747 76.6255 19.2021 76.6255 19.8432V28.2994C76.6255 29.032 76.8087 29.551 77.175 29.7647C77.3887 30.0395 77.8161 30.1921 78.4267 30.1921H79.312C79.3425 30.1921 79.3425 30.1921 79.3425 30.2226V33.2754C79.3425 33.3059 79.3425 33.3059 79.312 33.3059H77.4803C76.015 33.3059 74.8855 32.6648 74.0307 31.3827C73.6949 30.7721 73.5117 30.1005 73.5117 29.3373V9.09746C73.5117 8.3648 73.8781 7.84582 74.6107 7.54055C74.7634 7.51002 74.916 7.47949 75.0686 7.47949Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M94.5773 14.8369C97.1416 14.8369 99.3701 15.8138 101.324 17.737C102.026 18.5002 102.362 19.0803 102.362 19.4771C102.362 19.5687 102.362 19.6298 102.392 19.6603C102.392 20.0571 102.209 20.4235 101.873 20.7898C101.69 20.9425 98.6985 23.0794 92.9288 27.1701C92.9288 27.1701 92.4403 27.5364 91.4635 28.2386C91.3108 28.4217 91.2498 28.5744 91.2498 28.7575V28.8797C91.2498 29.0933 91.3719 29.307 91.6161 29.4597C92.593 29.9481 93.5088 30.1923 94.3636 30.1923H94.7299C96.1037 30.1923 97.4164 29.6734 98.668 28.6354C99.3396 27.9638 99.7365 27.4449 99.8586 27.1701C100.072 26.8343 100.255 26.4069 100.439 25.8269C100.561 25.2469 100.713 24.8195 100.958 24.6058C101.324 24.27 101.69 24.1173 102.057 24.1173C102.789 24.1173 103.278 24.4531 103.552 25.1553C103.613 25.3079 103.644 25.4606 103.644 25.6437V25.7048C103.644 26.1627 103.4 26.9259 102.972 27.9943C102.728 28.5744 102.301 29.2155 101.721 29.9786C101.11 30.6503 100.591 31.1692 100.133 31.505C99.3396 32.0545 98.668 32.4514 98.0574 32.6651C96.8974 33.123 95.7984 33.3672 94.7299 33.3672H94.4552C92.593 33.3672 90.7919 32.7872 89.0823 31.5966C88.2581 30.9555 87.5864 30.2839 87.0369 29.5207C86.6401 28.9407 86.3348 28.3912 86.0906 27.9028C85.5716 26.5901 85.2969 25.369 85.2969 24.1784C85.2969 21.9804 86.0295 19.9656 87.4949 18.1339C88.1665 17.4012 88.6855 16.9433 88.9907 16.7602C90.7308 15.478 92.5625 14.8369 94.5773 14.8369ZM88.4718 24.0563C88.4718 24.9111 88.5633 25.3995 88.777 25.5521C88.9297 25.7048 89.1128 25.7658 89.3571 25.7658C89.5402 25.7658 89.876 25.5521 90.3645 25.1553C90.4255 25.1247 92.8372 23.4152 97.6301 19.9961C97.8132 19.8129 97.9048 19.6298 97.9048 19.4161V19.294C97.9048 19.0803 97.7827 18.8971 97.5385 18.7139C96.5616 18.195 95.6458 17.9507 94.791 17.9507H94.4247C93.0204 17.9507 91.6772 18.5002 90.395 19.5992C89.1128 20.9119 88.4718 22.3773 88.4718 24.0563Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M114.692 14.8672C116.615 14.8672 118.355 15.4167 119.943 16.5157C120.309 16.8515 120.492 17.2483 120.492 17.7368C120.492 18.2863 120.218 18.7137 119.668 19.0495C119.393 19.1716 119.149 19.2326 118.935 19.2326C118.569 19.2326 118.111 19.0495 117.592 18.7137C116.707 18.2252 115.699 17.981 114.631 17.981H114.509C113.562 17.981 112.586 18.2558 111.578 18.8053C110.266 19.599 109.35 20.698 108.861 22.1328C108.648 22.8044 108.525 23.4455 108.525 24.1171C108.525 25.7961 109.197 27.292 110.51 28.6046C111.334 29.3068 112.128 29.7647 112.952 29.9784C113.532 30.131 114.051 30.2226 114.478 30.2226H114.631C115.852 30.2226 117.012 29.8868 118.081 29.1847C118.355 29.032 118.63 28.971 118.905 28.971C119.393 28.971 119.821 29.2152 120.187 29.6731C120.37 29.9479 120.431 30.2531 120.431 30.5279C120.431 31.169 120.095 31.6879 119.454 32.0238C117.989 32.9091 116.371 33.367 114.6 33.367C112.616 33.367 110.754 32.7259 109.014 31.4132C108.617 31.1079 108.19 30.6805 107.732 30.1616C107.213 29.551 106.846 29.032 106.694 28.6962C105.9 27.2614 105.473 25.7656 105.473 24.1476C105.473 22.1633 106.083 20.3011 107.335 18.5916C107.549 18.2863 107.945 17.8589 108.556 17.2789C109.228 16.7294 109.838 16.2715 110.418 15.9967C111.822 15.203 113.257 14.8672 114.692 14.8672Z" fill="black"></path><path _ngcontent-ng-c592123650="" d="M125.53 7.47949H125.652C126.201 7.47949 126.629 7.78477 126.995 8.36479C127.086 8.60902 127.148 8.82271 127.148 8.94482V15.0809C127.148 15.4472 127.331 15.6914 127.697 15.8441C127.758 15.8441 127.819 15.8746 127.85 15.8746H127.88C128.063 15.8746 128.43 15.722 129.01 15.4472C130.017 15.0504 130.994 14.8672 131.971 14.8672C133.986 14.8672 135.756 15.5693 137.344 16.9431C138.076 17.6757 138.534 18.2252 138.718 18.561C139.267 19.4158 139.633 20.3011 139.817 21.2475C139.939 21.7359 140 22.4991 140 23.5676V31.5353C140 32.3901 139.694 32.9396 139.053 33.2143C138.84 33.3059 138.626 33.3364 138.504 33.3364H138.382C137.802 33.3364 137.344 33.0312 137.008 32.3901C136.916 32.2069 136.855 31.9016 136.855 31.5353V22.9876C136.855 21.6138 136.397 20.4232 135.451 19.4463C134.444 18.4695 133.284 17.981 131.94 17.981C130.536 17.981 129.315 18.5305 128.277 19.66C127.483 20.5759 127.086 21.6749 127.086 22.957V31.8101C127.086 32.268 126.873 32.6648 126.415 33.0312C126.14 33.2143 125.865 33.3059 125.591 33.3059H125.469C124.95 33.3059 124.522 33.0312 124.186 32.5122C124.034 32.2985 123.973 31.9322 123.973 31.4437V9.31115C123.973 8.45638 124.278 7.90688 124.919 7.63213C125.163 7.54055 125.377 7.47949 125.53 7.47949Z" fill="black"></path></svg>
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.auth-buttons a {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
}

.login {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.signup {
  background: #8ff700;
  color: #000;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: #111;
  color: #fff;
}

.hero .highlight {
  color: #8ff700;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.services {
  text-align: center;
  padding: 40px 20px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  max-width: 250px;
}

.explore-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: #8ff700;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.partner {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #a1ffce, #faffd1);
}

.partner p {
  margin-bottom: 20px;
}

.app-links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

img {
  width: 200px;
  height: 250px;
  padding-block-start: 0%;
  margin: auto;
}

  h1 hover {
    color: rgb(0, 255, 34);
    
}
.btn 
{
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -ms-border-radius:50px;
  -o-border-radius:50px;
}